<phpunit
        bootstrap="vendor/autoload.php"
        colors="true"
        beStrictAboutTestsThatDoNotTestAnything="true"
        beStrictAboutOutputDuringTests="true"
>
    <testsuites>
        <testsuite name="clancodeKata">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>